body {
    padding: 20px;
}
#search-form, .form-control {
    margin-bottom: 20px;
}
#results {
  margin-top: 20px;
    text-align: center;
}
#resultado{
margin-top: 20px;
}
.cover {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-size: cover;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid #e45343;
}
footer {
    text-align: center;
}
#currSong, #answer{
    display:none
}